<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Enter two consecutive codes to enroll</title>
</head>
<body>
<p th:text="${errorMessage}"/>
<p th:text="${sharedSecret}"/>
<!--<img th:src="'https://chart.googleapis.com/chart?chs=200x200&amp;cht=qr&amp;chl=otpauth://totp/'+${username}+'@google.com?secret='+${sharedSecret}+''"></img>-->
<img th:src="'data:image/png;base64,'+${sharedSecretBase64}+''"/>
<form th:action="@{/enroll2fa}" method="post">
    <div><label> Auth Code One: <input type="text" name="code1"/> </label></div>
    <div><label> Auth Code Two: <input type="text" name="code2"/> </label></div>
    <div><input type="submit" value="Activate 2FA"/></div>
</form>
    	<form th:action="@{/gohome}" method="get">
		<input type="submit" value="HOME"/>
		</form>
</body>
</html>
