<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Vmware vCloud Hybrid Service</title>
       	<link rel="stylesheet" media="screen" href="../resources/css/home.css"/>
       	
  <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
	<meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1' />
	<link rel='stylesheet' type='text/css' href='../resources/css/styles.css' />

    	
    </head>
    <body>
    <br/>
    <div>
    &nbsp;
    <img src="../resources/images/vmware-black.png"/>
    	
    	<font size="6" color= "black">&nbsp; vCHS Token Manager</font>
    </div>
    <br/>
        <div id='cssmenu'>
<div id='cssmenu'>
<ul>
   <li><a th:href='@{/gohome}'><span>Home</span></a></li>
   <li class='last'><a th:href='@{/logout}'><span>Sign Out</span></a></li>
</ul>
</div>
<br/><br/>
&nbsp;&nbsp;
<font size = "4" color=#700000 >Two Factor Authentication has been Activated.</font> 
</div>
            </body>
</html>


